{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}

{% block content %}

	<h1>Профиль {{ profile }}
		{% if profile.online %}
			<span class="online">Online</span>
		{% else %}
			<span class="offline">Offline</span>
		{% endif %}
	</h1>


	{% if profile.is_superuser or profile.is_moderator %}
		<h1>Суперюзер</h1>
	{% endif %}


	{% if profile.avatar %}
		{% thumbnail profile.avatar "300x300" crop="center" as im %}
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
		{% endthumbnail %}
	{% endif %}

	<p>Имя: {{ profile.first_name }}</p>
	<p>Фамилия: {{ profile.last_name }}</p>
	<p>E-mail: {{ profile.email }}</p>

	{% if profile == user %}
		<a href="">Сменить пароль</a>
		<a href="{% url 'edit_profile' user.id %}">Редактировать профиль</a>
	{% endif %}


	<hr>

	{% if profile == user %}
		<h1>Мои топики</h1>
	{% else %}
		<h1>Все топики {{ profile }}</h1>
	{% endif %}
	<div>
		{% for topic in topics %}
			{% if topic.moderated %}
				<div class="alert alert-danger" role="alert">Жалоба модератору, на тему {{ topic.title }}</div>
			{% else %}
				Тема: <a href="{% url 'topic' topic.subcategory.slug topic.id %}">{{ topic.title }}</a>
				<p>Ответов: {{ topic.posts.count }}</p>
				<p>Просмотров: {{ topic.count_views }}</p>
				<p>Дата создания: {{ topic.created_at|naturaltime }}</p>
			{% endif %}
		{% endfor %}
	</div>

<hr>


	{% if posts %}
	{% if profile == user %}
		<h1>Мои посты</h1>
	{% else %}
		<h1>Все посты {{ profile }}</h1>
	{% endif %}
	<div>
		{% for post in posts %}
			<a href="{% url 'topic' post.topic.subcategory.slug post.topic.id %}">Тема</a>
			<p>{{ post.created_at|naturaltime }}</p>
		{% endfor %}
	</div>
	<hr>
	{% endif %}








	{% if profile == user %}
		<h1>Отправленные сообщения</h1>
		<div>
			{% for msg in sent_messages %}
			<p>Тема: {{ msg.theme }}</p>
			<p>Сообщение: {{ msg.message }}</p>
			<p>Дата: {{ msg.created_at|naturaltime }}</p>
			<a href="{% url 'del_message' msg.id %}">Удалить</a>
			{% endfor %}
		</div>
	{% endif %}







	{% if profile == user %}
		<h1>Входящие сообщения</h1>
		<div>
			{% for msg in inboxs %}
				<p>Тема: {{ msg.theme }}</p>
				<p>Сообщение: {{ msg.message }}</p>
				<p>Дата: {{ msg.created_at|naturaltime }}</p>
				<a href="{% url 'send_message' msg.id %}">Ответить</a>
				<a href="{% url 'del_recipient_message' msg.id %}">Удалить</a>
			{% endfor %}
		</div>
	{% endif %}








	{% if profile == user %}
		<h1>Корзина</h1>
		<div>
			{% for msg in trash %}
				<p>Тема: {{ msg.theme }}</p>
				<p>Сообщение: {{ msg.message }}</p>
				<p>Дата: {{ msg.created_at|naturaltime }}</p>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}