<h1>Управление сайтом</h1>
<ul>
	<li><a href="{% url 'users' %}"> Все юзеры</a></li>
	<li><a href="{% url 'languages' %}"> Все Языки</a></li>
	<li><a href="{% url 'users' %}"> Все Рубрики</a></li>
	<li><a href="{% url 'topics' %}"> Все топики</a></li>
	<li><a href="{% url 'posts' %}"> Все посты</a></li>
</ul>
<h1>Api</h1>
<ul>
	<li><a href="{% url 'languages_api' %}"> Все юзеры</a></li>
	<li><a href="{% url 'subcategories_api' %}"> Все Языки</a></li>
	<li><a href="{% url 'topics_api' %}"> Все Рубрики</a></li>
	<li><a href="{% url 'topics_api' %}"> Все топики</a></li>
</ul>