<!-- Bootstrap CSS -->
<link href="/templates/css/bootstrap.min.css" rel="stylesheet">

<!-- CSS -->
<link href="/templates/css/simple-sidebar.css" rel="stylesheet">

<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="/panel/">Панель управления</a></li>
		<li><a href="/"> Перейти к сайту</a></li>
		<li><a href="{% url 'users' %}"> Все юзеры</a></li>
		<li><a href="{% url 'categories' %}"> Все категории</a></li>
		<li><a href="{% url 'users' %}"> Все Рубрики</a></li>
		<li><a href="{% url 'topics' %}"> Все топики</a></li>
		<li><a href="{% url 'posts' %}"> Все посты</a></li>
		<li class="sidebar-brand"><a href="/panel/">API</a></li>
		<li><a href="{% url 'categories_api' %}"> Все категории</a></li>
		<li><a href="{% url 'subcategories_api' %}"> Все подкатегории</a></li>
		<li><a href="{% url 'topics_api' %}"> Все Рубрики</a></li>
		<li><a href="{% url 'topics_api' %}"> Все топики</a></li>
	</ul>
</div>