{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% block content %}
	<div class="row">
		<!-- Blog Post Content Column -->
		<div class="col-md-8 col-md-offset-2">
			<!-- Blog Post -->
			<!-- Title -->
			<div class="vote-div">
				{% if user.is_authenticated %}
					<a href="{{ topic.positive_vote }}" data-id='topic_{{ topic.id }}' class='good_vote'>
						<i class="fa fa-thumbs-o-up good-vote" aria-hidden="true"></i>
						<span class='topic-good_vote__count'>{{ topic.good_vote }}</span>
					</a>
					<a href="{{ topic.negative_vote }}" data-id='topic_{{ topic.id }}' class='bad_vote'>
						<i class="fa fa-thumbs-o-down bad-vote" aria-hidden="true"></i>
						<span class='topic-bad_vote__count'>{{ topic.bad_vote }}</span>
					</a>
				{% endif %}
				<p id='error-text'></p>
			</div>
			<h1>{{ topic.title }}</h1>
			{% if user.is_authenticated %}
				<a href="{% url 'moderated' topic.id %}" title="Жалоба модератору" class="topic-option">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</a>
				<a href="{% url 'personal_message' topic.id %}" title="Написать топикпастеру" class="topic-option">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
				</a>
				<a href="" title="График" class="topic-option">
					<i class="fa fa-line-chart fa-3" aria-hidden="true"></i>
				</a>
			{% endif %}
			{% if user == topic.user %}
				<a href="{% url 'edit_topic' topic.id %}" title="Редактировать" class="topic-option">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</a>
				<a href="{% url 'del_topic' topic.id %}" title="Удалить" class="topic-option">
					<i class="fa fa-times" aria-hidden="true"></i>
				</a>
			{% endif %}</br>
			<i class="fa fa-tag" aria-hidden="true"></i>
			{% for tag in topic.tags.all %}
				<small>{{ tag.word }}*</small>
			{% endfor %}
			<hr>
			<!-- Date/Time -->
			<p><span class="glyphicon glyphicon-time"></span> Дата создания {{ topic.created_at|naturaltime }}</p>
			<hr>
			<!-- Post Content -->
			{{ topic.description }}
			<hr>
			<!-- Posted Comments -->
			<!-- Comment -->
			<h4 class="post_count">Комментарии ({{ topic.posts.count }})</h4>
			<div class="post_load">
				{% include 'topic/posts.html' %}
			</div>
			<hr>
			{% if user.is_authenticated %}
			<!-- Comments Form -->
				<h4>Написать комментарий:</h4>
				<div class="widget-area no-padding blank">
					<div class="status-upload">
						{% include 'topic/add-post.html' %}
					</div>
				</div>
			{% else %}
				<div class="alert alert-danger" role="alert">Только зарегистрированные пользователи могут оставлять комментарии. <a href="{% url 'login' %}">Войдите,</a> пожалуйста.</div>
			{% endif %}
		</div>
	</div>
{% endblock %}